<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-md-top">
	<div class="container">
		<a class="navbar-brand" href="#home">Portafolio</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-md-auto">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="#home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#skills">Skills</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#projects">Projects</a>
				</li>
				
			</ul>
		</div>
	</div>
</nav>