<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portafolio</title>

	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="bg-secondary">
	{% include 'partials/_navbar.html' %}
	
	{% block content %}

	{% endblock %}

	{% include 'partials/_footer.html' %}
	<script type="map" src="{% static 'js/bootstrap.min.js.map' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/layout.js' %}"></script>
	
</body>
</html>